.container {
  margin: 10px 0;
}

.card {
  margin: 0 1% !important;
  width: 15rem;
}

.infected {
  border-bottom: 10px solid #2186b4;
}

.recovered {
  border-bottom: 10px solid #24aa24;
}

.deceased {
  border-bottom: 10px solid rgba(255, 0, 0, 0.6);
}

@media (max-width: 770px) {
  .card {
    margin: 0.5% !important;
    width: 25rem;
    height: 9rem;
  }
}
.font {
  font-family: "myFont";
}

.MuiCardContent-root {
  padding: 10px;
}
