.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  height: 30rem;
}

@media (max-width: 770px) {
  .container {
    width: 140% !important;
    height: 40vh !important;
    margin-left: -1rem;
  }
}
