@viewport {
  width: fit-content;
  zoom: 1;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  background: rgba(128, 128, 128, 0.3);
  width: 12px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: slategray;
}

.main-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.clickable {
  cursor: pointer;
}

:root {
  --bg: rgba(36, 37, 38, 0.1);
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.col,
.col-12 {
  padding: 0px !important;
}

.row {
  margin: 0px !important;
  &::after {
    content: none;
  }
}

.nav-bar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0;
  margin-bottom: 1.5rem;
}

.nav-bar-list {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 460px) {
  .container-fluid {
    width: max-content;
  }
}

.mybrand-item {
  display: contents;
  flex-direction: row;
}

.title {
  font-size: 1.5rem;
  color: slateblue;
  font-family: notosans;
}
@media (max-width: 360px) {
  .title {
    font-size: 1.35rem;
  }
}

.title:hover {
  color: slateblue;
  text-decoration: none;
}

@media (min-width: 360) {
  .mybrand-item {
    vertical-align: middle;
  }
}

.nav-bar-nav :hover {
  text-decoration: none;
}

.sun-moon {
  margin-right: 15px;
  cursor: pointer;
}

.img-align {
  vertical-align: -0.4rem;
  width: 40px;
  height: 40px;

  background-size: contain;
}

@media (max-width: 460px) {
  .img-align {
    vertical-align: -0.9rem !important;
  }
}

.menu-icon {
  cursor: pointer;
  margin-left: 14px;
  border: none;
  color: slateblue;
  vertical-align: -0.1rem !important;
}

.about {
  padding-right: 1px;
  color: white;
}

.about:hover {
  color: white;
}

@media (max-width: 460px) {
  .menu-icon {
    vertical-align: -0.1rem !important;
  }
  .about {
    vertical-align: 0.1rem !important;
  }
}

.MuiTypography-body1 {
  font-family: notosans !important;
}

.MuiListItemText-primary {
  font-size: 1.3rem !important;
}

.container-world {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  vertical-align: middle !important;
  justify-content: center;
  flex-direction: column;
}

.delta {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}

.span {
  font-weight: 700;
  border-radius: 6px;
  border-spacing: inherit;
}

.nav-link {
  font-weight: 500;
}

.arrow {
  vertical-align: middle;
}

.arrowup {
  font-size: 0.71rem;
  font-weight: 500;
  -ms-word-break: keep-all;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 22px;
}

.total {
  color: #5e5959;
  font-weight: 500;
  font-size: 0.7rem;
}

.drawer-share a {
  padding: 0 0.75rem;
  text-decoration: none;
}

.updates {
  font-size: 0.85rem;
}

.updates span {
  filter: brightness(1.25);
}

@media (max-width: 360px) {
  .updates {
    font-size: 0.75rem;
  }
}

.MuiBadge-colorPrimary {
  background-color: green !important;
}

.table {
  position: relative;
  align-self: center;
  text-transform: capitalize;
  border-spacing: 2px 2px;
  margin: 0 -2px;
  border-collapse: separate;
  width: calc(100% + 4px);
}

.thead-light {
  font-size: 1rem;
  background: #6c757d10;
  color: #5a5656;
  text-align: left;
  position: sticky;
  vertical-align: middle;
  padding: 0;
}

.align-middle {
  margin-bottom: -5px;
}

.th {
  font-weight: 500;
  cursor: pointer;
  border-radius: 0px;
  padding: 0;
  position: sticky;
}

.table tbody tr {
  transition: linear 0.5s;
  cursor: default;
}

.table tbody tr td {
  border-radius: 0px;
}

.table tbody tr:hover {
  background: rgba(63, 63, 95, 0.2);
  cursor: pointer;
  transition: linear 0.2s;
}

.spread-graph-type {
  margin: 0;
}

.statewise-table {
  margin-top: 10px;
  /* position: relative; */
}

.statewise-table > table > thead > tr > th {
  font-size: 14px;
  white-space: nowrap;
}

.thead-dark {
  position: sticky;
  top: 0;
}

.statewise-table::-webkit-scrollbar {
  background: rgba(128, 128, 128, 0.3);
  border-radius: 15px;
  width: 0;
  height: 12px;
}

.statewise-table::-webkit-scrollbar-thumb:horizontal {
  border-radius: 15px;
  background-color: slategray;
}

.th-sticky,
.td-sticky {
  position: sticky;
  left: 0;
  z-index: 3;
}

.td-sticky {
  background-color: #d3d3dc !important;
}

.dark {
  .td-sticky {
    background-color: #1f1f26 !important;
  }
}

.td-left {
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 4px;
  vertical-align: bottom;
  max-width: min-content;
  padding: 0%;
  font-family: notosans;
}

.td-md {
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 4px;
  position: relative;
  word-wrap: break-word;
  color: slategrey !important;
  vertical-align: right !important;
  font-family: notosans;
}

@media only screen and (max-width: 360px) {
  .td-md {
    font-size: 0.78rem;
  }
}

.td-md-left {
  min-width: 140px;
  color: slateblue !important;
  font-family: notosans;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;

  > h6 {
    margin-block: 0;
  }
}

.td-md-left > a,
a:hover {
  vertical-align: middle;
  color: rgb(87, 70, 202) !important;
}

.td-md-left > a > h6 {
  padding-top: 8px;
  font-size: 0.95rem;
  color: rgb(87, 70, 202) !important;
}

.td-md-left > h6 {
  font-size: 0.9rem;
}

.info-icon {
  margin-left: 5px;
  vertical-align: -0.7rem;
}

.trend {
  color: #5c5656;
}

.home-title {
  padding-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.home-toggle {
}

.form-control {
  display: block;
  width: calc(100% - 30px);
  margin: auto;
  font-family: notosans;
  height: 2.5rem;
  padding: 0.25rem 0.55rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.link {
  left: 20%;
  right: 20%;
  width: 45rem;
  text-transform: uppercase;
  word-break: keep-all;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link a {
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  font-weight: 750;
  text-decoration: none;
  color: rgb(0, 140, 255);
  background: rgb(238, 242, 245);
  transition: background 0.2s ease-in-out;
}

.link a:hover {
  background: #007bff30;
  text-decoration: none;
}

.link h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: gray-dark;
  font-weight: 800;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  font-family: notosans;
}

.options-link {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: 500;
  color: #11789b;
  word-break: keep-all;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.options-link:hover {
  color: #11789b;
  text-decoration: none;
}

.options-link2 {
  color: #11789b;
}
.options-link2:hover {
  color: #11789b;
  text-decoration: none;
}

.sidebar-item {
  color: rgb(169, 161, 223) !important;
}

.sidebar-item:hover {
  color: rgb(32, 32, 66, 0.9);
  text-decoration: none;
}

span.MuiBadge-dot {
  height: 7px;
  min-width: 7px;
}

span.MuiBadge-dot:hover {
  height: 8px;
  min-width: 8px;
}

span.MuiBadge-colorSecondary {
  color: #fff;
  background-color: darkblue;
}

.MuiPaperroot {
  background-color: rgb(32, 32, 66) !important;
  color: white !important;
  height: 100vh !important;
}

@media (max-width: 414px) {
  .MuiPaperroot {
    padding-bottom: 16rem;
  }
}

.TimeSeries-Parent {
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-self: center;
}

.coverage {
  font-size: 20px;
  font-weight: 600;
  color: #3f51b5;
  font-family: notosans;
  transition: all 0.1s;
  text-decoration: none;

  &:hover {
    color: #4e62d7 !important;
    transition: all 0.1s !important;
  }
}

.world-home-card {
  width: 100%;
  margin: auto;
}

.graph-head {
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

.vaccinated-people {
  border-radius: 5px;

  > h6 {
    margin-top: 0.5rem;
    padding: 0.25rem;
    color: rgb(244, 195, 47);
    font-family: notosans;
    font-weight: 500 !important;
    text-align: center;
    font-size: 14px;
  }
}

.vaccine-shield {
  height: 20px;
  vertical-align: -0.25rem;
  margin-right: 10px;
}

.graph-width {
  width: 8rem !important;
}

.home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.stats-table {
  width: calc(50% - 55px);
  margin: 1rem 25px;
}

.graph-wrapper {
  height: max-content;
}

.graph-section {
  width: calc(50% - 55px);
  margin: auto 25px;
}

.spread-timeline {
  gap: 12px;
}

.india-state-wise-head {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.support-us {
  display: flex;
  justify-content: space-between;
  background-color: rgba(59, 115, 119, 0.75);
  background-image: linear-gradient(
    360deg,
    rgba(59, 115, 119, 0.75) 0%,
    #254d86 74%
  );
  padding: 8px 10px;
  width: 100%;
  text-align: center;
  margin-top: 16px;
  border-radius: 5px;
}

.support-us > a,
a:hover {
  text-decoration: none;
  color: white !important;
}

.support-btn {
  border-radius: 5px;
  background-color: #d8932c;
  border: 1px solid #d8932c;
  width: 45px;
  text-align: center;
}

.telegram-link {
  text-align: center;
  color: white !important;
  font-family: notosans;
  position: relative;
}

.telegram-link:hover {
  text-decoration: none;
  color: white !important;
}

.telegram-icon {
  vertical-align: -0.1rem;
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: #ced4da;
  }
  100% {
    color: white;
  }
}

.timeline-button {
  background-color: rgba(255, 153, 0, 0.3);
  color: chocolate;
  padding: 5px 3px;
  cursor: pointer;
  text-align: left;
  border-radius: 3px;
  font-size: 13px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
  transition: box-shadow 0.3s linear; /* vendorless fallback */
  -o-transition: box-shadow 0.3s linear; /* opera */
  -ms-transition: box-shadow 0.3s linear; /* IE 10 */
  -moz-transition: box-shadow 0.3s linear; /* Firefox */
  -webkit-transition: box-shadow 0.3s linear; /*safari and chrome */
}

.timeline-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  animation-delay: 0.3s;
  cursor: pointer;
}

.custom-control {
  margin-bottom: 30px;
}

.world {
  justify-content: center;
}

.world-total {
  font-size: 1.17rem;
  white-space: nowrap;
  font-weight: 500;
}

.table-world {
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border-spacing: 2px 2px;
  border-collapse: separate;
  width: 100%;
}

.th-cases {
  white-space: nowrap;
  border-radius: 4px;
  text-align: left;
}

.td-world {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 4px;
  word-wrap: break-word;
  font-family: notosans;
  text-align: right;
}

.td-world:hover {
  background-color: rgba(105, 90, 205, 0.356);
}

.toggle-day {
  background-color: rgba(255, 153, 0, 0.274);
  color: chocolate;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 8.5rem;
  transition: all 0.5s linear;
}

.toggle-day:hover {
  box-shadow: 0 0 10px rgba(117, 113, 113, 1) !important;
  transition: all 0.5s linear;
}

.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq-heading {
  font-weight: 500;
  margin-top: 20px;
  font-family: notosans;
}

.question {
  margin-left: 2px;
  margin-right: 2px;
  font-weight: 500;
  font-family: notosans;
}

.answer {
  font-weight: 500;
  color: #11789b;
  word-break: keep-all;
  font-family: notosans;
}

.statewise-head {
  padding-top: 15px;
  font-size: 0.8rem;
  font-weight: 500;
}

.faq-icon {
  vertical-align: top;
  font-size: 1.25rem;
}

.card {
  margin-top: 0.7rem;
}

.card-head {
  font-size: 1.3rem;
  font-weight: 500;
}

.india-map-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto 0px;
  margin-top: 20px;
}

.india-map-choropleth {
  padding: 0px !important;
}

.toggle-map {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto 0px;
}

.map-tabs {
  width: 24.5%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.spread-graphs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px !important;
  margin: 16px 0;
  width: 100%;
}

.graph-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pad {
  text-align: left;
  font-size: 0.85rem !important;
  cursor: pointer;
  padding-top: 5%;
  padding-right: 1%;
  padding-left: 5%;
  position: sticky;
  transition: all 0.1s linear;
}

.testpad {
  width: 24.5%;
}

.testpad > h6 {
  background: rgba(106, 68, 200, 0.2);
  color: #5969c2;
  text-align: right;
  cursor: pointer;
  padding-top: 7.5px;
  padding-right: 5%;
  padding-bottom: 7.5px;
  border-radius: 5px;
  font-size: 0.75rem !important;
}

.choropleth {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0.9;
  }

  to {
    opacity: 1;
  }
}

.choropleth-text {
  border-radius: 3px;
  padding: 5px;
}

.display-flex {
  display: flex;
  font-family: notosans;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.fill {
  flex: 1;
}

.mt16 {
  margin-top: 5px;
}

.world-choropleth {
  height: 100%;
  width: 100%;
  margin-bottom: 0rem;
  margin-top: -2rem;
  align-self: center;
  align-items: center;
}

@media (min-width: 767px) {
  .world-choropleth {
    margin-bottom: 15rem;
    margin-top: -3rem;
  }
  .world-linear-gradient {
    margin-top: -15rem !important;
  }
}

@media (min-width: 1024px) {
  .world-choropleth {
    margin-bottom: 15rem;
    margin-top: -3rem;
  }
  .world-linear-gradient {
    margin-top: -20rem !important;
  }
}

.world-linear-gradient {
  margin-top: -7.5rem;
}

.show-up {
  animation: rotateDown 0.5s;
}

@keyframes rotateDown {
  0% {
    transform: rotate(-180deg);
  }
}

.showDown {
  animation: rotateUp 0.5s;
}

@keyframes rotateUp {
  0% {
    transform: rotate(180deg);
  }
}

.hoveralert {
  width: 100%;
  justify-content: center;
  height: fit-content;
  transition-duration: 0.5s;
}

.hoveralert:hover {
  background: rgba(73, 73, 109, 0.2) !important;
  cursor: pointer;
}

.recharts-legend-item {
  font-size: 0.8rem;
  vertical-align: 0.3rem;
  align-items: center;
}

.recharts-symbols {
  vertical-align: 0.1rem;
}

.recharts-label-list text {
  font-size: 0.45rem !important;
  font-weight: 500;
  font-family: notosans;
  color: inherit;
}

.state-table h6 {
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.container-states {
  padding-right: 2.5px;
  padding-left: 2.5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container-states {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.view-state {
  color: rgba(255, 153, 0, 1);
  text-decoration: none;
  font-weight: 600;
}

.view-state:hover {
  text-decoration: none !important;
  text-underline-position: unset;
}

.visit-state:hover {
  text-decoration: none !important;
}

.back-button {
  text-align: center;
  margin-right: -10px !important;
  background-color: lightslategrey;
  border-radius: 4px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: -15px;
  margin-top: 10px !important;
}

.btn-main-page {
  margin-top: 10px !important;
  margin-left: -10px !important;
}

.btn-main-page:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
}

.share-btn {
  text-align: center;
  align-content: center;
  width: 150px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 6px;
  margin-top: -2px;
  margin-left: 1.5rem !important;
}

@media only screen and (max-width: 360px) {
  .share-btn {
    margin-left: 0px !important;
    margin-right: -9px !important;
  }
}

.like-share {
  font-size: 0.75rem;
  text-align: center !important;
  vertical-align: middle;
  margin-top: 4px !important;
  cursor: text;
  margin-left: -2rem;
  width: 140px;
}

.feedback-btn {
  font-size: 0.75rem;
  text-align: center !important;
  margin-top: -2px !important;
  vertical-align: middle;
  justify-content: center;
  cursor: text;
  padding-left: 1rem;
  width: 150px;
}

.hash-tag {
  color: navy !important;
  background-color: rgb(156, 156, 202);
  border-radius: 3px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.hash-tag:hover {
  text-decoration: none;
  background-color: rgb(156, 156, 202);
}

.test-labs-btn {
  background-color: rgb(218, 192, 243);
  border-radius: 3px;
  padding: 4px 4px;
  color: rgb(128, 42, 190);
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 115, 0.5) !important;
  cursor: pointer;
  transition-duration: 0.5s;
}

.test-labs-btn:hover {
  box-shadow: 0 0 8px rgba(0, 0, 115, 0.5) !important;
  transition-duration: 0.5s;
}

.linktest-labs-btn:hover {
  text-decoration: none;
  color: indigo;
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.color-change {
  animation: colorChange 20s ease-in-out;
  animation-fill-mode: both;
}

@keyframes colorChange {
  0% {
    color: #6c757d;
  }
  12.5% {
    color: #ff446a;
  }
  25% {
    color: #6c757d;
  }
  37.5% {
    color: #ff446a;
  }
  50% {
    color: #6c757d;
  }
  62.5% {
    color: #ff446a;
  }
  75% {
    color: #6c757d;
  }
  87.5% {
    color: #ff446a;
  }
  100% {
    color: #6c757d;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.float {
  animation-name: floatArrow;
  animation: floatArrow 1.5s linear infinite;
}

@keyframes floatArrow {
  0%,
  100% {
    opacity: 1;
    transform: translateX(0px);
  }

  50% {
    opacity: 1;
    transform: translateX(6px);
  }
}

@media only screen and (min-width: 576px) {
  #line1 {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  #line2 {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: notosans;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  #root {
    overflow-x: hidden;
  }
  .stats-table {
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-bottom: 32px;
  }
  .graph-section {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .statewise-table {
    margin-left: 0px;
  }

  .statewise-table::-webkit-scrollbar {
    height: 0px;
  }

  ::-webkit-scrollbar {
    background: transparent;
    width: 0;
  }

  ::-webkit-scrollbar-thumb:vertical {
    background-color: transparent;
  }
}
