body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.myNavbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0;
  border-bottom: var(--border);
  margin-bottom: 1.5rem;
}

.myNavbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.imgAlign {
  vertical-align: -0.4rem;
  width: calc(var(--nav-size) * 0.5);
  height: calc(var(--nav-size) * 0.5);

  background-size: contain;
}

@media (max-width: 460px) {
  .imgAlign {
    vertical-align: -0.9rem !important;
  }

  .container-fluid {
    width: max-content;
  }

  .title {
    vertical-align: -0.4rem !important;
  }
}

@media (min-width: 992px) {
  .myNavbar-nav {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
  }
}

.mynav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mybrand-item {
  display: contents;
  flex-direction: row;
}

@media (min-width: 360) {
  .mybrand-item {
    vertical-align: middle;
  }
}

.myNavbar-nav :hover {
  text-decoration: none;
  color: white;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  filter: brightness(1.2);
  text-decoration: none;
  color: beige;
}

.icon-button svg {
  fill: var(--text-color);
  height: 20px;
  width: 20px;
}

.myDropdown {
  position: absolute;
  top: 58px;
  width: 140px;
  transform: translateX(-100%);
  background-color: var(--bg);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  z-index: 1000;
}

.menu-item {
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
  text-decoration: none;
  color: whitesmoke;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

@font-face {
  font-family: "notosans";
  src: url(fonts/NotoSans-Bold.ttf);
  font-style: normal;
  font-weight: 800;
}
